
		/*
		* Default View Styling
		*/
		div.default_product_display div.textcol{
			margin-left: 160px !important;
			min-height: 150px;
			_height: 150px;
		}

		div.default_product_display  div.textcol div.imagecol{
			position:absolute;
			top:0px;
			left: 0px;
			margin-left: -160px !important;
		}

		div.default_product_display  div.textcol div.imagecol a img {
			width: 150px;
			height: 150px;
		}

		.wpsc_category_grid_item  {
			display:block;
			float:left;
			width: 150px;
			height: 150px;
		}
		.wpsc_category_grid_item  span{
			position:relative;
			top:16.444444444444px;
		}
		div.default_product_display div.item_no_image a  {
			width: 148px;
		}

		div.default_product_display .imagecol img.no-image, #content div.default_product_display .imagecol img.no-image {
			width: 150px;
			height: 150px;
        }

		
		/*
		* Single View Styling
		*/

		div.single_product_display div.item_no_image  {
			width: 148px;
			height: 148px;
		}
		div.single_product_display div.item_no_image a  {
			width: 148px;
		}

		div.single_product_display div.textcol{
			margin-left: 160px !important;
			min-height: 150px;
			_height: 150px;
		}


		div.single_product_display  div.textcol div.imagecol{
			position:absolute;

			margin-left: -160px !important;
		}

		div.single_product_display  div.textcol div.imagecol a img {
			width: 150px;
			height: 150px;
		}

	div#categorydisplay{
		display: block;
	}

	div#branddisplay{
		display: none;
	}
